# don't ever modify text to prevent conflicts
* -text

# merger hooks, run tools/hooks/install.bat or install.sh to set up
*.dmm merge=dmm
*.dmi merge=dmi

# dme and map files should be LF
*.dme text eol=lf
*.dmm text eol=lf

# dm files unmodified
*.dm text

# exlude maps from contribution count
*.dmm linguist-generated=true 

# force changelog merging to use union
html/changelog.html merge=union
